name: automerge
on: pull_request

permissions:
  contents: write
  pull-requests: write

env:
  GH_TOKEN: ${{ secrets.RENOVATEBOT }}

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}

      - name: Approve patch and minor updates
        run: gh pr review $PR_URL --approve -b "I'm **approving** this pull request"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
